.aboutIntro {
  width: 96%;
  margin: 3vh auto 5vh;
}

.aboutIntro article {
  display: flex;
  align-items: center;
  gap: 2%;
  line-height: 2;
}

@media (max-width: 768px) {
  .aboutIntro article {
    gap: 10%;
    flex-wrap: wrap;
  }
  .aboutIntro article div {
    margin: 3vh 0;
  }
}

.convert {
  width: 96%;
  margin: 0 auto;
  line-height: 2;
}

.convert * {
  margin: 1vh 0;
}
